{
  "twitch_credentials": {
    "server": "wss://pubsub-edge.twitch.tv",
    "client_id": "9vphbqz1q2wglw7cikmn210rrqybsn",
    "client_secret": "6nw1y0ffjb0gjyco2l4dx9f5eigd5b",
    "tts_reward_name": "THIS IS WHAT PEOPLE WILL REDEEM, THIS IS CAPS SENSITIVE"
    "username": "USERNAMEHERE"
  },
  "obs_credentials": {
    "host": "localhost",
    "port": 4455,
    "password": "your_password_for_obs_if_you_have_one",
    "scene_name": "EXAMPLE:tts_nest",
    "source_name": "EXAMPLE:tts"
  },
    "elevenlabs_credentials": {
    "api_url": "https://api.elevenlabs.io",
    "xi-api-key": "API-KEY-FOUND-IN-PROFILE",
    "voice_name": "Clyde",
    "audio_device": "A SEPERATE AUDIO DEVICE HERE"
  }
}